<app-toolbar></app-toolbar>

<div class="content" role="main">

  <input type="hidden" #selection>

  <nav class="card-container">
    <div class="card" (click)="selection.value = 'about'">
      Home
    </div>
    <div class="card" (click)="selection.value = 'apod'">
      APOD
    </div>
    <div class="card" (click)="selection.value = 'pwgen'">
      PW Gen
    </div>
    <div class="card" (click)="selection.value = 'readit'">
      Readit
    </div>
    <div class="card" (click)="selection.value = 'rover'">
      Rover
    </div>
  </nav>

  <div class="content" [ngSwitch]="selection.value">

    <app-terminal *ngSwitchDefault></app-terminal>
    <app-apod *ngSwitchCase="'apod'"></app-apod>
    <app-pwgen *ngSwitchCase="'pwgen'"></app-pwgen>
    <app-readit *ngSwitchCase="'readit'"></app-readit>
    <app-rover *ngSwitchCase="'rover'"></app-rover>

  </div>


</div>

