<app-toolbar></app-toolbar>

<div class="content" role="main">

  <nav class="card-container">
    <a routerLink="/home" routerLinkActive="active">
      <div class="card">
        Home
      </div>
    </a>
    <a routerLink="/apod" routerLinkActive="active">
      <div class="card">
        APOD
      </div>
    </a>
    <a routerLink="/pwgen" routerLinkActive="active">
      <div class="card">
        PW Gen
      </div>
    </a>
    <a routerLink="/fractals" routerLinkActive="active">
      <div class="card">
        Fractals
      </div>
    </a>
    <a routerLink="/rover" routerLinkActive="active">
      <div class="card">
        Rover
      </div>
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>

