<app-toolbar></app-toolbar>

<div class="content" role="main">

  <nav class="card-container">
    <div class="card">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div class="card">
      <a routerLink="/apod" routerLinkActive="active">APOD</a>
    </div>
    <div class="card">
      <a routerLink="/pwgen" routerLinkActive="active">PW Gen</a>
    </div>
    <div class="card">
      <a routerLink="/fractals" routerLinkActive="active">Fractals</a>
    </div>
    <div class="card">
      <a routerLink="/rover" routerLinkActive="active">Rover</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

