<div class="form">
  <h1>Mars Rover Photo Search Engine</h1>
  <div class="form-input">
    <span class="form-label">Rover:</span>
    <select #roverSelection (change)="setRover(roverSelection.value)">
      <option *ngFor="let name of roverNames" [value]="name">{{name}}</option>
    </select>
    <span class="form-label">Camera:</span>
    <select #cameraSelection>
      <option *ngFor="let camera of currentCameraList" [value]="camera">{{camera}}</option>
    </select>
    <span class="form-label">Sol:</span>
    <input class="number-input" #solSelection type="number" value="{{currentSol}}">
    <br>
  </div>
  <div class="button-section">
    <div class="button"
         (click)="getInput(roverSelection.value, cameraSelection.value, solSelection.value, 1)">Search
    </div>
  </div>
</div>
<div class="search-results" *ngIf="noPhotos">{{noPhotosError}}</div>
<div class="search-results" *ngIf="serviceUnavailable">{{serviceUnavailableError}}</div>
<div *ngIf="!noPhotos && !serviceUnavailable">
  <div class="search-results" *ngFor="let photo of currentPhotos">
    <a href="{{photo.img_src}}" target="_blank">
      <img class="rover-photos" src="{{photo.img_src}}" alt="Rover Photo">
    </a>
    <div>
      ID: {{photo.id}}<br>
      Sol: {{photo.sol}}<br>
      Camera: {{photo.camera.full_name}} ({{photo.camera.name}})<br>
      Earth Date: {{photo.earth_date}}<br>
      <dl>
        <dt>Rover:</dt>
        <dd>ID: {{photo.rover.id}}</dd>
        <dd>Name: {{photo.rover.name}}</dd>
        <dd>Landing Date: {{photo.rover.landing_date}}</dd>
        <dd>Launch Date: {{photo.rover.launch_date}}</dd>
        <dd>Max Sol: {{photo.rover.max_sol}}</dd>
        <dd>Max Date: {{photo.rover.max_date}}</dd>
        <dd>Photos: {{photo.rover.total_photos}}</dd>
        <dd>Status: {{photo.rover.status}}</dd>
      </dl>
    </div>
  </div>
  <div *ngIf="!noPhotos && !serviceUnavailable && currentPage > 1">
    <div class="button-section">
      <div class="button"
           (click)="getInput(currentRover, currentCamera, currentSol, (currentPage - 1))">Prev Page
      </div>
    </div>
  </div>
  <div *ngIf="!noPhotos && !serviceUnavailable && currentPhotos.length == 25">
    <div class="button-section">
      <div class="button"
           (click)="getInput(currentRover, currentCamera, currentSol, (currentPage + 1))">Next Page
      </div>
    </div>
  </div>
</div>
