<h1>Mars Rover Photo Search Engine</h1>
<!-- Todo: Implement Rover -->
<!--<p>Coming soon...</p>-->

<div class="form">
  <div class="form-input">
    <span class="form-label">Rover:</span>
    <select #rover>
      <option *ngFor="let name of roverNames" [value]="name">{{name}}</option>
    </select>
    <span class="form-label">Camera:</span>
    <select #camera>
      <option *ngFor="let camera of allCameras" [value]="camera">{{camera}}</option>
    </select>
    <span class="form-label">Sol:</span>
    <input class="number-input" #sol type="text" value="100">
    <br>
  </div>
  <div class="button-section">
    <div class="button"
         (click)="getInput(rover.value, sol.value, camera.value)">Search
    </div>
  </div>
</div>
<div class="search-results" *ngIf="noPhotos">{{noPhotosError}}</div>
<div class="search-results" *ngFor="let photo of photos">
  <a href="{{photo.img_src}}" target="_blank">
    <img class="rover-photos" src="{{photo.img_src}}" alt="Rover Photo">
  </a>
  <div>
    ID: {{photo.id}}<br>
    Sol: {{photo.sol}}<br>
    Camera: {{photo.camera.full_name}} ({{photo.camera.name}})<br>
    Earth Date: {{photo.earth_date}}<br>
    Rover: {{photo.rover}}
  </div>
</div>
